body{
font-family: Arial;
background:#f4f6f9;
margin:0;
text-align:center;
}

header{
background:#111;
color:white;
padding:10px;
}

.logo{
display:flex;
justify-content:center;
align-items:center;
gap:10px;
}

.hero{
padding:40px;
}

.container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:30px;
max-width:900px;
margin:auto;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
text-decoration:none;
color:black;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
box-shadow:0 6px 20px rgba(0,0,0,0.2);
}

footer{
padding:20px;
background:#111;
color:white;
margin-top:40px;
}